<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>DeveloperHub</title>
</head>

<body>
    <header>
        <a href="#" class="logo">DeveloperHub</a>
        <nav class="navigation">
            <a href="#Key Features">Key Features</a>
            <a href="#DevelopersSay">Developers Say</a>
            <a href="#contact">Contact</a>

        </nav>
    </header>

    <section class="main">
        <div>
            <h2>Welcome to <br><span>DeveloperHub</span></h2>
            <h3>Join our thriving community of developers to share your code.
                <br> Elevate your coding experience!</h3>
            <a href="#Sign_Up" class="main-btn">Sign Up Now</a>
        </div>

    </section>


    <section class="cards" id="Key Features">
        <h2 class="title">Key Features</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fa-regular fa-1"></i>
                </div>
                <div class="info">
                    <h3>Code Sharing</h3>
                    <p>Share your code snippets and projects with fellow developers. Get feedback and improve your skills.</p>
                </div>
            
            </div>

            <div class="card">
                <div class="icon">
                    <i class="fa-regular fa-2"></i>
                </div>
                <div class="info">
                    <h3>Collaborative Environment</h3>
                    <p>Collaborate on coding projects, work together on solving challenges, and learn from each other.</p>
                </div>
            
            </div>

            <div class="card">
                <div class="icon">
                    <i class="fa-regular fa-3"></i>
                </div>
                <div class="info">
                    <h3>Discover New Ideas</h3>
                    <p>Explore a world of coding-related content. Find inspiration, tutorials, and stay updated on industry trends.</p>
                </div>
            
            </div>

        </div>
    </section>

    <section class="DevelopersSay" id="DevelopersSay">
        <h2 class="title">What Our Developers Say</h2>
        <div class="content">
            <div class="DevelopersSay-card">
                <div class="DevelopersSay-image">
                    <img src="../images/background.jpg" />

                </div>

                <div class="DevelopersSay-info">
                    <p class="DevelopersSay-category">script writing script writing</p>
                    <strong class="DevelopersSay-titel">
                        <span>script writing</span>
                        <a href="#" class="more-details">
                        more-details
                        </a>
                    </strong>

                </div>


            </div>
            <div class="DevelopersSay-card">
                <div class="DevelopersSay-image">
                    <img src="../images/background.jpg" />

                </div>

                <div class="DevelopersSay-info">
                    <p class="DevelopersSay-category">script writing script writing</p>
                    <strong class="DevelopersSay-titel">
                        <span>script writing</span>
                        <a href="#" class="more-details">
                        more-details
                        </a>
                    </strong>

                </div>


            </div>
            <div class="DevelopersSay-card">
                <div class="DevelopersSay-image">
                    <img src="../images/background.jpg" />

                </div>

                <div class="DevelopersSay-info">
                    <p class="DevelopersSay-category">script writing script writing</p>
                    <strong class="DevelopersSay-titel">
                        <span>script writing</span>
                        <a href="#" class="more-details">
                        more-details
                        </a>
                    </strong>

                </div>

            </div>

        </div>
    </section>

    <section class="cards contact" id="contact">
        <h2 class="title">Get In Touch</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="info">
                <h3>phone</h3>
                <p>+42000000000</p>
                </div>
            
            </div>
    
            <div class="card">
                <div class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="info">
                <h3>email</h3>
                <p>GA@GA.com</p>
                </div>
        </div>
    </section>




    <footer class="footer">
        <p class="footer-title"> Copyrights @ <span>GA</span></p>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-regular fa-at"></i></a>
        </div>
    </footer>
</body>
</html>
