<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Index Page - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="Index_Page_Home_style.css" rel="stylesheet">
</head>
<body>

<header class="header1">
    <a href="#" class="logo">DeveloperHub</a>
    <nav class="navigation">
        <a href="#My file">My file</a>
        <a href="#Messages">Messages</a>
        <a href="#Notifications">Notifications</a>

    </nav>
</header>
<br>


<div class="container">
    <div class="profile-env">
        <section class="profile-feed">
            <form class="profile-post-form" method="post">
                <textarea class="form-control1" placeholder="What's on your mind?"></textarea>
                <div class="form-options">
                    <div class="post-type">
                        <a href="#" class="tooltip-primary" data-toggle="tooltip" data-placement="bottom" title
                           data-original-title="Upload a Picture">
                            <i class="entypo-camera"></i>
                        </a>
                        <a href="#" class="tooltip-primary" data-toggle="tooltip" data-placement="bottom" title
                           data-original-title="Attach a file">
                            <i class="entypo-attach"></i>
                        </a>
                        <a href="#" class="tooltip-primary" data-toggle="tooltip" data-placement="bottom" title
                           data-original-title="Check-in">
                            <i class="entypo-location"></i>
                        </a>
                    </div>
                    <div class="post-submit">
                        <button type="button" class="btn btn-primary">POST</button>
                    </div>
                </div>
            </form>

            <div class="profile-stories">
                <article class="story">
                    <aside class="user-thumb">
                        <a href="#">
                            <img src="../images/74130270.png" width="44" alt class="img-circle"> </a>
                    </aside>
                    <div class="story-content">

                        <header>
                            <div class="publisher">
                                <a href="#">Marting flowtlhrow</a> posted a status update
                                <em>3 hours ago</em>
                            </div>
                            <div class="story-type">
                                <i class="entypo-feather"></i>
                            </div>
                        </header>
                        <div class="story-main-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis
                                tincidunt luctus. Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis. </p>
                        </div>

                        <footer>
                            <a href="#" class="liked">
                                <i class="entypo-heart"></i>
                                Liked
                                <span>(8)</span>
                            </a>
                            <a href="#">
                                <i class="entypo-comment"></i>
                                Comment
                                <span>(12)</span>
                            </a>

                            <ul class="comments">
                                <li>
                                    <div class="user-comment-thumb">
                                        <img src="../images/74130270.png" alt class="img-circle" width="30">
                                    </div>
                                    <div class="user-comment-content">
                                        <a href="#" class="user-comment-name">
                                            John doe
                                        </a>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis
                                        quis tincidunt luctus. Nam sagittis dui in nunc consequat, in imperdiet nunc
                                        sagittis.
                                        <div class="user-comment-meta">
                                            <a href="#" class="comment-date">January 4 at 1:11am</a>
                                            -
                                            <a href="#">
                                                <i class="entypo-heart"></i>
                                                Like
                                                <span>(2)</span>
                                            </a>
                                            -
                                            <a href="#">
                                                <i class="entypo-comment"></i>
                                                Reply
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-comment-thumb">
                                        <img src="../images/74130270.png" alt class="img-circle" width="30">
                                    </div>
                                    <div class="user-comment-content">
                                        <a href="#" class="user-comment-name">
                                            John doe
                                        </a>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis
                                        quis tincidunt luctus. Nam sagittis dui in nunc consequat, in imperdiet nunc
                                        sagittis.
                                        <div class="user-comment-meta">
                                            <a href="#" class="comment-date">January 3 at 6:42pm</a>
                                            -
                                            <a href="#" class="liked">
                                                <i class="entypo-heart"></i>
                                                Liked
                                            </a>
                                            -
                                            <a href="#">
                                                <i class="entypo-comment"></i>
                                                Reply
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-comment-thumb">
                                        <img src="../images/74130270.png" alt class="img-circle" width="30">
                                    </div>
                                    <div class="user-comment-content">
                                        <a href="#" class="user-comment-name">
                                            John doe
                                        </a>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis
                                        quis tincidunt luctus. Nam sagittis dui in nunc consequat, in imperdiet nunc
                                        sagittis.
                                        <div class="user-comment-meta">
                                            <a href="#" class="comment-date">January 2 at 3:25pm</a>
                                            -
                                            <a href="#">
                                                <i class="entypo-heart"></i>
                                                Like
                                            </a>
                                            -
                                            <a href="#">
                                                <i class="entypo-comment"></i>
                                                Reply
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-form">
                                    <div class="user-comment-thumb">
                                        <img src="../images/74130270.png" alt class="img-circle" width="30">
                                    </div>
                                    <div class="user-comment-content">
                                        <textarea class="form-control2 autogrow"
                                                  placeholder="Write a comment..."></textarea>
                                        <button class="btn">
                                            <i class="entypo-chat"></i>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </footer>
                        <hr>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
</body>
</html>